@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

@layer base {
  :root {
    --color-primary: 0 123 255;
    --color-text-primary: 33 33 33;
    --color-background: 237 239 249;
    --color-success: 34 197 94;
    --color-error: 239 68 68;
    --color-warn: 250 204 21;
    --color-info: 59 130 246;
    --color-text-secondary: 75 85 88;
    --color-border: 200 200 200;
    --color-prj-mint: 142 235 215;
    --color-prj-pink: 228 90 198;
    --color-prj-blue: 66 143 245;
    --color-section-1: 227 229 250;
    --color-section-2: 187 191 231;
    --color-section-3: 227 229 250;
    --color-footer-bg: 122 125 159;
  }

  :root[class~='dark'] {
    --color-primary: 51 153 255;
    --color-text-primary: 255 255 255;
    --color-background: 31 41 55;
    --color-success: 16 185 129;
    --color-error: 239 68 68;
    --color-warn: 234 179 8;
    --color-info: 37 99 235;
    --color-text-secondary: 120 130 135;
    --color-border: 60 72 88;
    --color-prj-mint: 50 160 140;
    --color-prj-pink: 200 80 160;
    --color-prj-blue: 60 120 230;
    --color-section-1: 40 50 70;
    --color-section-2: 45 55 80;
    --color-section-3: 50 60 90;
    --color-footer-bg: 28 35 50;
  }
}

.contact a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
}

.contact a.active {
  color: var(--color-primary);
}

.contact ul {
  list-style: none;
  padding-left: 0.8rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.contact > ul {
  padding-left: 0;
}

.typed-out {
  display: flex;
  overflow: hidden;
  border-right: 1px solid #fff;
  white-space: nowrap;
  animation:
    typing 1s steps(20, end) forwards,
    blink 0.8s infinite;
  width: 0;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: #fff;
  }
}
