@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

.prose code:not(pre code) {
  @apply bg-gray-100 text-gray-600;
  @apply font-sans;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
}

.prose code:not(pre code)::before,
.prose code:not(pre code)::after {
  content: none;
}
